---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import ArrowDown from "../assets/icons/ArrowDown.astro";

import img1 from "../assets/piopio.webp";
---

<Layout title="Cyantunieland | CyanStudios">
  <main class="items-center justify-center p-5">
    <article class="text-center mt-[220px]">
      <h1 class="text-[48px]">Cyantunieland</h1>
      <h2 class="text-[25px]">Espacio de nuevas experiencias</h2>
      <p class="text-[15px]">CyanStudios</p>
    </article>
    <article class="flex flex-col mt-[350px] justify-center items-center gap-1">
      <ArrowDown />
      <h2 class="text-[50px]">Noticias</h2>
      <Card
        title="Super Titulo"
        description="loremp ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        image={img1}
      />
    </article>
    <article class="mt-[250px] flex justify-center gap-2">
      <Card
        title="Super Titulo"
        description="loremp ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        image={img1}
      />
      <Card
        title="Super Titulo"
        description="loremp ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        image={img1}
      />
      <Card
        title="Super Titulo"
        description="loremp ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        image={img1}
      />
      <Card
        title="Super Titulo"
        description="loremp ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        image={img1}
      />
    </article>
  </main>
  <footer class="text-center p-5 text-[25px]">
    <p>&copy; Cyantunieland {new Date().getFullYear()}</p>
  </footer>
</Layout>

<script>
  const button = document.getElementById("copy-ip");

  button?.addEventListener("click", () => {
    navigator.clipboard.writeText("play.cyantunieland.net");
  });
</script>
